<div class="header">
  <div class="container">
    <%= image_tag("talntalogo.jpg", :alt => "talntalogo feed") %>
    <h1>Talnta Talent Agency</h1>
  </div>
</div>

<div class="messages">
  <div class="container">

    <!-- Your code here -->

    <%= button_to "Log Out", 'logout', :class => "button", :method => :get  %>
    <br> <br>
    <%= button_to "Edit Profile", 'edit', :class => "button", :method => :get  %>
    <br>


    <%= image_tag current_talent.image.url(:medium) %>
    <p class="username">Userame  : <%= current_talent.username %></p>
    <p class="name">Full Name  : <%= current_talent.first_name %></p>
    <p class="email">Email    : <%= current_talent.email %></p>
    <p class="age">Date of Birth: <%= current_talent.age %></p>
    <p class="gender">Gender   : <%= current_talent.gender %></p>
    <p class="height">Height   : <%= current_talent.height %> cm </p>
    <p class="content">About me : <%= current_talent.content %></p>
    <p class="time"><%= current_talent.created_at %></p>

    <% @talents.each do |tl| %>

<div class="message">

    <%= image_tag tl.image.url(:medium) %>
<p class="username">Username  : <%= tl.username %></p>
  <p class="name">Full Name  : <%= tl.first_name %></p>
  <p class="age">Date of Birth: <%= tl.age %></p>
  <p class="gender">Gender   : <%= tl.gender %></p>
  <p class="height">Height   : <%= tl.height %> cm </p>
  <p class="content">About me : <%= tl.content %></p>
  <p class="time"><%= tl.created_at %></p>


</div>
<% end %>

  </div>
</div>
