<div class="header">
  <div class="container">
    <img src="http://www.hollywoodtheaterlax.com/picts/hollywood.jpg">
    <h1>Talnta Talent Agency</h1>
  </div>
</div>

<div class="messages">
  <div class="container">

    <!-- Your code here -->

    <%= button_to "Log Out", 'logout', :class => "button", :method => :get  %>
    <br>

    <%= image_tag current_talent.image.url(:medium) %>
    <p class="name">First Name  : <%= current_talent.first_name %></p>
    <p class="last">Last Name  : <%= current_talent.last_name %></p>
    <p class="content">About me : <%= current_talent.content %></p>
    <p class="email">email    : <%= current_talent.email %></p>
    <p class="age">date of birth: <%= current_talent.age %></p>
    <p class="gender">gender   : <%= current_talent.gender %></p>
    <p class="height">height   : <%= current_talent.height %></p>
    <p class="demo">demo     : <%= current_talent.demo %></p>
    <p class="resume">resume   : <%= current_talent.resume %></p>
    <p class="time"><%= current_talent.created_at %></p>

    <% @talents.each do |tl| %>

<div class="message">

    <%= image_tag tl.image.url(:medium) %>

  <p class="name">First Name  : <%= tl.first_name %></p>
  <p class="last">Last Name  : <%= tl.last_name %></p>
  <p class="content">About me : <%= tl.content %></p>
  <p class="email">email    : <%= tl.email %></p>
  <p class="age">date of birth: <%= tl.age %></p>
  <p class="gender">gender   : <%= tl.gender %></p>
  <p class="height">height   : <%= tl.height %></p>
  <p class="demo">demo     : <%= tl.demo %></p>
  <p class="resume">resume   : <%= tl.resume %></p>
  <p class="time"><%= tl.created_at %></p>
</div>
<% end %>

  </div>
</div>
