<div class="header">
  <div class="container">
    <%= image_tag("talntalogo.jpg", :alt => "talntalogo feed") %>
    <h1>Talnta New Talent</h1>
  </div>
</div>

<div class="create">
  <div class="container">

    <!-- Your code here -->
    <%= form_for @talent, url: talents_path, :html => { :multipart => true} do |t| %>
  <div class="field">
    Make sure fields are all filled and username is unique
    <br><br>
    Profile Picture :<br><%= t.file_field :image %><br>
    Username        :<br><%= t.text_field :username %><br>
    Full Name       :<br><%= t.text_field :first_name %><br>
    Email           :<br><%= t.email_field :email %><br>
    Password        :<br><%= t.password_field :password %><br>
    Date of Birth   :<br><%= t.text_field :age %><br>
    Gender          :<br><%= t.text_field :gender %><br>
    Height          :<br><%= t.number_field :height %> cm <br>
      About me        :
      <br>This is a free space, be creative in how you present yourself,
      add links to your Facebook, Instagram, Youtube, LinkedIn, etc.
      <%= t.text_area :content %><br>

  </div>
  <br>
  <div class="actions">
    <%= t.submit "Submit" %>
  </div>
<% end %>

  </div>
</div>
